div.dostavka{
	margin: 0 auto;
}
.dostavka li{
	margin-top: 15px;
	list-style-type: none;
	width: 350px;
	
}


.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 80px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}
.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}
.checkbox:checked + label:before {
  background: #f5bb0a;/* #9FD468 */
}
.checkbox:checked + label:after {
  left: 26px;
}

/* таблиця в розділі закупка */
.purchase table{
  width: 60%;
  text-align: left;
}
.purchase table tr.table-top, .purchase table tr.table-top td{
  text-align: center;
  padding-left: 0px;
}
.purchase table td{
  padding-left: 50px;
}
/* кінець таблиці в закупці */