*{
	margin: 0;
	padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.25);

}
p{
	font: normal 100% 'century gothic', arial;
}
/* Блок авторизації */
div.authorization-block{
	background-color: #fff;
	padding: 2%;
	width: 30%;
	margin: 130px auto;
	text-align: center;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 30px 0px rgba(48, 50, 50, 1);
	-moz-box-shadow:    1px 1px 30px 0px rgba(48, 50, 50, 1);
	box-shadow:         1px 1px 30px 0px rgba(48, 50, 50, 1);
}
div.authorization-block img{
	max-width: 90%;
	margin-bottom: 30px;
}
input{
	max-width: 90%;
	border-radius: 5px;
	padding: 4px;
	border: 0;
	background-color: #faffbd;
	outline: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
input:hover, input:focus{
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
input[type="submit"]{
	background-color: #fabd07;
	cursor: pointer;
}
input[type="submit"]:active{
	background-color: #c79707;
	box-shadow: none;
}
.authorization-error{
	background-color: red;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	width: 140px;
	padding: 10px 5px;
	border-radius: 0 0 5px 5px;
	font: normal 90% 'century gothic', arial;
}

@media screen and (max-device-width: 1024px){
	div.authorization-block p{
		font-size: 270%;
	}
	div.authorization-block{
		width:  800px;
		padding: 150px 0;
		border-radius: 20px;
	}
	div.authorization-block img{
		width: 90%;
		margin: 20px auto;
	}
	div.authorization-block input[type="text"], input[type="password"] {
		width: 80%;
		padding: 20px;
		font-size: 40px;
		border-radius: 10px;
	}
	div.authorization-block input[type="submit"]{
		width: 30%;
		font-size: 50px;
		padding: 10px;
		border-radius: 10px;
	}
	.authorization-error{
	width: 440px;
	font: normal 250% 'century gothic', arial;
	}
}

