input{
	outline: none;
}

/* кнопка біля таблиці яка додає рядок */
a.add-tovar{
	float: right;
	padding: 5px 8px;
	font-size: 14px;
	background-color: #26b22a;
	border-color: #338f15;
	border-radius: 3px;
	max-height: 18px;
	margin: 60px 0 0 0;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-o-transition: .3s all;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
}
a.add-tovar:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
a.add-tovar:active{
	box-shadow: none;
	background:  #338f15;
}
/* кінець кнопки товару */

/* кнопка скинути */
input.sub-reset{
	font: normal 80% 'century gothic', arial;
	cursor: pointer;
	border: none;
	color: #fff;
	    display: block;
    float: right;
    padding: .6%;
    background-color: #1e91cf;
    border-color: #1978ab;
    border-radius: 3px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
} 
input.sub-reset:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
input.sub-reset:active{
	box-shadow: none;
	background:  #1978ab;
}
/* кінець скинути */

/* кнопка зберегти */
input.sub-save{
	font: normal 80% 'century gothic', arial;
	cursor: pointer;
	border: none;
	color: #fff;
	    display: block;
    float: right;
    padding: .6%;
    background-color: #1e91cf;
    border-color: #1978ab;
    border-radius: 3px;
    margin: 15px 0 15px 0;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
} 
input.sub-save:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
input.sub-save:active{
	box-shadow: none;
	background:  #1978ab;
}
/* кінець зберегти */

input.save-dostavka{
	padding: 1%;
	width: 100px;
}

button.confirmation-btn{
	font: normal 80% 'century gothic', arial;
	cursor: pointer;
	border: none;
	color: #fff;
    padding: .8%;
    background-color: #1e91cf;
    border-color: #1978ab;
    border-radius: 3px;
     -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
}
button.confirmation-btn:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
button.confirmation-btn:active{
	background-color: #1978ab;
	box-shadow: none;
}

select.data-page{
	background-color: #fff;
	outline: none;
	cursor: pointer;
	width: 120px;
	border-radius: 5px;
	margin-bottom: 5px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
select.data-page:hover{
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
