@media screen and (max-device-width: 800px)
{   
    .dostavka h2{
        font-size: 250%;
    }
    .dostavka li{
        width: 95%;
        margin-top: 35px;
    }
    .dostavka li input[type="text"]{
        width: 120px;
        font-size: 170%;
        padding: 10px;
    }
    .dostavka li .checkbox + label:before{
        width: 80px;
        height: 36px;
        border-radius: 23px;
    }
    .dostavka li .checkbox + label:after{
        width: 32px;
        height: 32px;
        border-radius: 21px;
    }
    .dostavka li .checkbox + label{
        padding: 0 0 0 100px;
    }
    .dostavka li .checkbox:checked + label:after {
      left: 45px;
    }
    input.save-dostavka{
    padding: 2%;
    width: 140px;
    font-size: 140%;
    }
}

@media screen and (max-device-width: 1024px){
    .head a{
        font-size: 130%;
        padding: 0;
    }
    .dostavka-head{
        padding: 0 10px;
    }
}

