@media screen and (max-device-width: 1024px)
{   
    .head a{
        font-size: 130%;
        padding: 0;
    }
    .dostavka-head{
        padding: 0 10px;
    }
    .dostavka h2{
        font-size: 250%;
    }
    .dostavka li{
        width: 97%;
        padding: 15px;
    }
    .dostavka li input[type="text"]{
        width: 120px;
        font-size: 140%;
        padding: 5px;
    }
    .dostavka li .checkbox + label:before{
        width: 80px;
        height: 36px;
        border-radius: 23px;
    }
    .dostavka li .checkbox + label:after{
        width: 32px;
        height: 32px;
        border-radius: 21px;
    }
    .dostavka li .checkbox + label{
        padding: 0 0 0 100px;
    }
    .dostavka li .checkbox:checked + label:after {
      left: 45px;
    }
    input.save-dostavka{
    padding: 2%;
    width: 140px;
    font-size: 140%;
    }
      .dostavka ul li label{
     font-size: .7em;
    }
}

@media screen and (min-device-width: 768px){
    
      .dostavka ul li label{
     font-size: 1em;
    }
}

