i{
	color: #fff;
}
td a{
	width: auto;
}
td a{ 
	padding: 0.4%;
	-moz-transition: .4s all;
	-webkit-transition: .4s all;
	-o-transition: .4s all;
	height: 100%;
	border-radius: 5px;
}
td a.edit{
	    background-color: #1e91cf;
}
td a.edit:hover{
	       background-color: #136895;
}
td a.delete{
	    background-color: #B40404;
}
td a.delete:hover{
	        background-color: #6c0000;
}
td i{
padding: 5px;
}

.plus-table{
	margin-top: 40px;
	text-align: center;
	height: 40px;
	width: 40px;
	margin-right: 0.5%;
	float: right;
}
.plus{
	margin-top: 40px;

	padding: 5px 8px;
	color: #fff;
    background-color: #1e91cf;
    border-color: #1978ab;
    border-radius: 5px;
    transition: .3s all;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
}
.plus:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
.plus:active{
	box-shadow: none;
	background:  #1978ab;
}

