
*{
	margin: 0;
	padding: 0;
}
div{
	font: normal 100% 'century gothic', arial;
	display: block;
}
a{
	height: 50px;
	font: normal 100% 'century gothic', arial;
	text-decoration: none;
		color: #C4C4C4;
}
.head{
	display: block;
	position: relative;
	float: right;
	width: 100%;
	background-color:  #e5e5e5;
	height: 55.5px;
	border-bottom: 1px solid rgba(201, 201, 201, 0.29);
}

.content{
    margin: 0 35px 0 235px;
	height: auto;	
}
.dostavka-head{
	cursor: pointer;
		border-left: 1px solid rgba(201, 201, 201, 0.29);
		border-right: 1px solid rgba(201, 201, 201, 0.29);
	padding: 0 20px;
	height: 100%;
	width: 70px;
	float: right;
}
.dostavka-head:hover{
	background: #cdcccc;
}
.dostavka-head a{
	height: 100%;
	width: 100%;
	display: block;
	line-height: 55px;
	color: #515151;
}
.purchase{
	border-right: 0px;
}
.search-head{
	width: 225px;
	float: right;
	border-left: 1px solid rgba(201, 201, 201, 0.29);
	padding: 0	 20px;
	margin-top: 15px;
}
.search-head input{
	padding: 2%;
	border: 0px;
	border-radius: 5px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	font: normal 90% 'century gothic', arial;
}
.search-head input[type="search"]:hover, .search-head input[type="search"]:focus{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
.search-head input[type="submit"]{
	background-color: #f8c409;
	cursor: pointer;
}
.search-head input[type="submit"]:hover{
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 18px 0 rgba(0, 0, 0, 0.20);
}
.search-head input[type="submit"]:active{
	background-color: #ca9f08;
	box-shadow: none;
}
.width-name{
	text-align: center;
	width: 23%;
}
table{

	width: 100%;
	background-color: #fcfcfc;
	 border-collapse: collapse;
	border: 1px solid rgba(201, 201, 201, 0.29);
	text-align: center;
	    font-family: sans-serif;
}
td{

	border-right: 1px solid rgba(201, 201, 201, 0.29);
	border-bottom: 1px solid rgba(201, 201, 201, 0.29);
	padding: 5px 2.5px
}
td.border2{
	border-right: 2px solid rgba(201, 201, 201, 0.29);
}
tr:hover, .table-top:not(:hover){
	background-color: #f4f3f3;
}

.date{
	float: left;
	margin-top: 40px;
	font: normal 150% 'century gothic', arial;
}

